<div class="row">
<div class="col-md-8">
</div>
<div class="col-md-4">
	<form action="jobs/email/{{this.id}}" method="POST">
		<input type="hidden" name="email" value={{../userFirstName}}>
		<button type="submit" id="btnSendMail" class="btn btn-default">Send it to my email</button>
	</form>
</div>
{{!-- form end --}}
</div> 
{{!-- row end --}}