{{!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class=".img-responsive">
          <img src="assets/img/burger-1674881_960_720.png" alt="Burger" style="width:250px; height: 250px;" align="center">
      </div>
          <h1>Get the Position!</h1>
    </div>
  </div> --}}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Positions</h2>
    
        <ul>
          {{#each resumes}}
              <li>
                {{this.resume_name}}

                <form action="resume/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="Selected" value="true">
                  <button type="submit">Select this Position!</button>
                </form>  
              </li>
          {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
      <h2>Positions Desired</h2>

      <ul>
        {{#each resumes}}
          {{#if this.selected}}
            <li>
              {{this.resume_name}}

              <form action="resume/update/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="Selected" value="false">
              </form>

            </li>
          {{/if}}
        {{/each}}
      </ul>
      
    </div>
  </div>
</div>

    <h2>Add a Position!</h2>
    <form class="create-update-form" action="/resume/create" method="POST">

      <div class="form-group">
        <label for="re">Organization Name:</label>
        <input type="text" id="re" name="position_name">
        <label for="re">Address:</label>
        <input type="text" id="re" name="position_address">
        <label for="re">Phone Number:</label>
        <input type="number" id="re" name="position_phone">
        <label for="re">Website:</label>
        <input type="text" id="re" name="position_web">
        <input type="radio" name="v" value="Volunteer" checked> Volunteer<br>
        <input type="radio" name="c" value="Community"> Community Service<br>
        <input type="radio" name="i" value="Internship"> Internship
      </div>
      <div class="form-group">
        <input type="hidden" name="Selected" value="true" checked>
        
      </div>
      <button type="submit">Add da Burger!</button>
    </form>
</div>