<div class="row" id="row7">
<div class="col-lg-1 col-md-1 col-sm-1 col-sx-1" id="left"></div>
<div class="col-lg-10 col-md-10 col-sm-10 col-sx-10" id="header"></div>
<div class="col-lg-1 col-md-1 col-sm-1 col-sx-1" id="right"></div>
</div>