<div class="row">
<a href="/users/new"> <button> Sign Up</button> </a>
</div>

<div class="row">
<a href="/users/signIn"> <button>Sign in</button> </a> 
</div>

<div class="row">
<a href="/users/signOut"> <button>Logout</button> </a> 
</div>
